<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no">
    <title>Visualisasi Medali Asian Games</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="indonesia-progress-chart">
        <embed type="image/svg+xml" src= {{ indonesia_progress_chart|safe }} />
    </div>
    <div id="sports-chart">
        <embed type="image/svg+xml" src= {{ sports_chart|safe }} />
    </div>
    <div id="host-chart">
        <embed type="image/svg+xml" src= {{ host_chart|safe }} />
    </div>

</body>
</html>

